name: Create Release
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v[0-9]+" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    permissions: write-all
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - run: git fetch --tags
      - id: date
        run: echo "date="$(git log -1 --format=%ai ${{github.ref}}) >> "$GITHUB_OUTPUT"
      - id: author
        run: echo "author="$(git log -1 --format=%an ${{github.ref}}) >> "$GITHUB_OUTPUT"
      - id: prev_tag
        run: echo "prev_tag="$(git tag --sort=-v:refname | sed -n '2p') >> "$GITHUB_OUTPUT"
      - run: echo ${{steps.prev_tag.outputs.prev_tag}}
      - run: echo $(git tag --list)
      - run: git log --pretty=oneline refs/tags/${{steps.prev_tag.outputs.prev_tag}}..${{github.ref}}
      - id: mychangelog
        run: git fetch --tag && echo "chlg="$(git log --pretty=oneline refs/tags/${{steps.prev_tag.outputs.prev_tag}}..${{github.ref}}) >> "$GITHUB_OUTPUT"
      # - run: ${{steps.mychangelog.outputs.chlg}}
      - name: Create Release
        uses: ncipollo/release-action@v1
        id: create_release
        with:
          tag: ${{github.ref}}
          name: ${{github.ref}}
          body: |
            ${{steps.date.outputs.date}} ${{steps.author.outputs.author}}
            Changes in this Release
            ${{steps.mychangelog.outputs.chlg}}
